a[download], *.rgaa-highlight {
	border-style: solid !important;
	border-width: 4px !important;
}
a[download], a.rgaa-highlight { border-color: deeppink !important; }
*.rgaa-highlight { border-color: limegreen !important; }
