.rgaa-highlight {
	border-style: solid;
	border-width: 4px;
	border-color: deeppink;
	background-color: ivory;
	color: #420;
/*	color: #420 !important; */
}
.rgaa-error {
	border-style: solid;
	border-width: 4px;
	border-color: orangered;
	background-color: #F2E58F;
	color: #420;
}
a > *.rgaa-highlight { border-style: dashed; }
button *.rgaa-highlight { border-style: dotted; }
img, svg, canvas, area { max-width: 50%; }