h1 { border: solid 4px red; }
h2 { border: solid 4px magenta; }
h3 { border: solid 4px blue; }
h4 { border: solid 4px green; }
h5 { border: solid 4px #FF4; }
h6 { border: solid 4px orange; }
h1:before { content: 'h1: '; }
h2:before { content: 'h2: '; }
h3:before { content: 'h3: '; }
h4:before { content: 'h4: '; }
h5:before { content: 'h5: '; }
h6:before { content: 'h6: '; }
*[role='presentation'] { border-style: dashed; }