[onclick], [ondblclick], [oncontextmenu], [onmouseup], [onmousedown], [onmouseenter], [onmouseleave], [onmousemove], [onmouseout], [onmouseover] {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: orangered !important;
}
[onclick][disabled], [ondblclick][disabled], [oncontextmenu][disabled], [onmouseup][disabled], [onmousedown][disabled], [onmouseenter][disabled],
[onmouseleave][disabled], [onmousemove][disabled], [onmouseout][disabled], [onmouseover][disabled] {
	border-style: dotted !important;
}
button {
	border-style: solid;
	border-width: 4px !important;
	border-color: limegreen !important;
}
imput[type='button'], imput[type='reset'], imput[type='submit'] {
	border-style: solid;
	border-width: 4px !important;
	border-color: cadetblue !important;
}
a {
	border-style: solid;
	border-width: 4px !important;
	border-color: deeppink !important;
}
.rgaa-event, a.rgaa-event {
	border-style: dashed !important;
	border-width: 4px !important;
	border-color: magenta !important;
}
.rgaa-event[role='button'], a.rgaa-event[role='button'] { border-style: solid !important; }
