table {
	border-style: solid;
	border-width: 4px !important;
	border-color: deeppink;
}
table[role='presentation'], table[role='none'] { border-color: limegreen !important; }
table.rgaa-error, table.rgaa-error { border-style: dashed !important; }

table.rgaa-dbe th {
	border-style: dashed;
	border-width: 4px !important;
	border-color: deeppink !important;
}
table.rgaa-dbe th[scope] { border-style: solid !important; }
[role='table'] {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: cadetblue !important;
}
[role='rowgroup'], [role='row'], [role='cell'], [role='rowheader'], [role='columnheader'] {
	border-style: dashed;
	border-width: 2px !important;
	border-color: cadetblue !important;
}
[role='table'] > [role='rowgroup'], [role='table'] [role='row'],
[role='row'] > [role='cell'], [role='row'] > [role='rowheader'], [role='row'] > [role='columnheader'] {
	border-style: solid !important;
}