button, [role='button'], input[type='button'], input[type='submit'], input[type='reset'] {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: limegreen !important;
}
a, [role='link'] {
	border-style: dashed !important;
	border-width: 4px !important;
	border-color: deeppink !important;
}
a[href], [role='link'][href] { border-style: solid !important; }
a[href=""], a[href='#'], [role='link'][href=""], [role='link'][href='#'] { border-style: dashed !important; }
.rgaa-event {
	border-style: dashed !important;
	border-width: 4px !important;
	border-color: cadetblue !important;
}
.rgaa-event[role='button'] { border-style: solid !important; }
