form {
	border-width: 4px !important;
	boder-style: solid !important;
	border-color: cadetblue !important;
}
input, textarea, label {
	border-width: 4px;
	border-style: dashed;
}
input {
	border-color: magenta !important;
	color: magenta !important;
}
textarea { border-color: deeppink !important; }
label { border-color: limegreen !important; }
input[name][id], textarea[name][id], label[for] { border-style: solid !important; }
.rgaa-highlight { border-width: 8px !important }
.rgaa-error { border-style: dotted !important; }
.rgaa-title:before { content: attr(title) " "; }
