video, audio {
	border-style: solid !important;
	border-color: deeppink !important;
	border-width: 4px !important;
}
svg, canvas {
	border-style: dashed !important;
	border-color: limegreen !important;
	border-width: 4px !important;
}
[role='img'], [role='presentation'] {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: cadetblue !important;
}
svg[role='img'], svg[role='presentation'], canvas[role='img'], canvas[role='presentation'] { border-style: solid !important; }
