table {
	border-style: solid;
	border-width: 4px !important;
	border-color: deeppink;
}
table[role='presentation'], table[role='none'] { border-color: limegreen !important; }
table.rgaa-error, table.rgaa-error { border-style: dashed !important; }

table.rgaa-dbe th {
	border-style: dashed;
	border-width: 4px !important;
	border-color: deeppink !important;
}
table.rgaa-dbe th[scope] { border-style: solid !important; }
[role='table'] {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: cadetblue !important;
}
[role='rowgroup'], [role='row'], [role='cell'], [role='rowheader'], [role='columnheader'] {
	border-style: solid !important;
	border-width: 2px !important;
	border-color: cadetblue !important;
}
/*
table[role='presentation'] caption, table[role='presentation'] thead, table[role='presentation'] tfoot,
table[role='presentation'] colgroup, table[role='presentation'] th,
table[role='none'] caption, table[role='none'] thead, table[role='none'] tfoot, table[role='none'] colgroup, table[role='none'] th,
table[role='presentation'] td[span], table[role='presentation'] td[axis], table[role='none'] td[span], table[role='none'] td[axis]
{
	border-style: solid !important;
	border-width: 4px !important;
	border-color: orangered !important;
}
*/