form, [role='group'], fieldset, legend, input, textarea, label, form button, select, optgroup, option {
	color: #420 !important;
	background-color: ivory !important;
	border-width: 4px !important;
}
[required], [aria-required='true'] { background-color: pink !important; }

form, fieldset, [role='group'], select, form button, option { border-style: solid !important; }
legend, input, textarea, label, optgroup { border-style: dashed !important; }
fieldset legend, input[name][id], textarea[name][id], label[for], optgroup[label] { border-style: solid !important; }
/*
form { border-color: teal !important; }
select { border-color: red !important; }
option { background-color: orange !important; }
optgroup {
	color: ivory !important;
	background-color: red !important;
}
fieldset { border-color: royalblue !important; }
legend { border-color: blueviolet !important; }
[role='group'] { border-color: deepskyblue !important; }
label { border-color: magenta !important; }
input { border-color: deeppink !important; }
input[type='email'] { border-color: deeppink !important; }
number, email, password, tel, url, color, date, time, datetime-local, datetime, month, week,

textarea { border-color: hotpink !important; }
form button, input[type='submit'], input[type='reset'], input[type='image'] { border-color: violet !important; }
*/
form { border-color: teal !important; }
select { border-color: red !important; }
option { color: red !important; }
optgroup {
	color: ivory !important;
	background-color: red !important;
}
fieldset, [role='group'] { border-color: blue !important; }
legend { border-color: purple !important; }
label { border-color: magenta !important; }
input, textarea { border-color: hotpink !important; }
form button, input[type='submit'], input[type='reset'], input[type='image'] { border-color: violet !important; }

/* champs au format de saisie contrôlé */
input[type='number'], input[type='email'], input[type='password'], input[type='tel'], input[type='url'], input[type='color'],
input[type='date'], input[type='time'], input[type='datetime-local'], input[type='datetime'], input[type='month'], input[type='week']
	{ border-color: deeppink !important; }

.rgaa-highlight { border-width: 8px !important }
.rgaa-error { border-style: dotted !important; }
