a {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: cadetblue;
}
a[href] { border-color: deeppink; }
a[href=""] { border-color: orangered !important; }
a[href='#'] { border-color: limegreen !important; }
a.rgaa-error { border-color: green !important; }