p.legend {
	border-style: solid;
	border-width: 4px;
	border-color: deeppink;
}

.legend:nth-child(5) { border-color: red; }
.legend:nth-child(6) { border-color: orange; }
.legend:nth-child(7) { border-color: #B90; }
.legend:nth-child(8) { border-color: limegreen; }
.legend:nth-child(9) { border-color: green; }
.legend:nth-child(10) { border-color: green; }
.legend:nth-child(11) { border-color: deepskyblue; }
.legend:nth-child(12) { border-color: blue; }
.legend:nth-child(13) { border-color: purple; }

