/* ajouter de la couleur à mes pages
dépend de structure
*/
:root {
	--text-color: #603;
	--fond-color: #FBD;
	--bord-color: #C36;
	--button-color: ivory;
	--page-color: ivory;
	--button-color-hover: var(--button-color);
	--button-bg: #C36;
	--button-bg-hover: #399;
	--button-border: none;
	--foldable-border: solid;
}
option:hover {
	color: var(--button-color);
	background-color: var(--button-bg);
}
body {
	max-width: 36cm;
	min-height: 100vh;
	padding: 2%;
	font-size: 1.2em;
	background-color: var(--page-color);
	margin: auto;
}
html { background-color: var(--button-bg); }
h1, h2, h3, h4, p, ul, ol { margin-bottom: 1em; }
h1 {
	color: var(--page-color);
	background-color: var(--bord-color);
}
h2 {
	border-top-style: double;
	border-top-width: 8px;
}
xmp { margin-bottom: 1em; }
.border-fade { border-image: linear-gradient(to right, transparent, var(--bord-color), transparent) 1; }
div.texto {
	width: 10cm;
	border: 4px solid var(--fond-color);
	border-radius: 1em;
	padding: 0.5em;
}
div.texto > p {
	width: 70%;
	border-radius: 1em;
	padding: 0.5em;
	background-color: var(--fond-color);
}
div.texto > p.lui {
	margin-left: 30%;
	background-color: var(--bord-color);
	color: var(--page-color);
}
/* les poèmes */
body.poesie {
	max-width: 30cm;
	font-size: 1.5em;
	--text-color: purple;
	text-align: center;
}
body.poesie > hr { margin: 1em 0; }
/* la barre de progression */
progress {
	background-color: var(--fond-color);
	height: 2em;
	width: 100%;
}
::-moz-progress-bar { background-color: var(--text-color); }
progress::-webkit-progress-value { background-color: var(--text-color); }
progress::-webkit-progress-bar { background-color: var(--fond-color); }
input[type='color'] {
	border: none;
	border-color: transparent;
/*	background-color: même valeur que la value de l'imput; */
}
input[type='color']::-moz-color-swatch { border: none; }
input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 0;
}
input[type='color']::-webkit-color-swatch { border: none; }
/* afficher le numéro de l'élément
le premier enfant sera numéroté 7, le suivant 9
*/
ancetre.a-partir-duquel-on-compte { counter-reset: moncompteur 5; }
enfant { counter-increment: moncompteur 2; }
enfant:before { content: counter(titre2) ') '; }
