/* mise en forme de base sans couleurs */
:root {
	--fond-color: #EEE;
	--bord-color: #CCC;
	--text-color: black;
	--page-color: white;
	--button-height: 2em;
	--button-bg: #969696;
	--button-bg-hover: #525252;
	--button-color: black;
	--button-color-hover: white;
	--button-border: none;
}
/* je peux afficher le titre dans la page avec
head, head > title { display: block; }
body, head, head > title {}
*/
body {
	margin: auto;
	padding: 0;
	background-color: var(--page-color, white);
	color: var(--text-color, black);
	font-family: serif;
	font-size: 1em;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: top;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	outline: none;
	border-width: 2px;
	border-style: none;
	border-color: var(--bord-color, #CCC);
}
*:first-letter, title:first-letter { text-transform: uppercase; }
*:before, *:after { box-sizing: border-box; }
p { margin-bottom: 1em; }
/* nouveauté, les blocs de code */
xmp {
	margin: 0 2%;
	padding: 1%;
	border-style: dotted;
	background-color: var(--fond-color, #EEE);
	white-space: pre;
}
figure {
	text-align: center;
	margin-bottom: 1em;
}
table, caption, tr {
	/* width: 100%; */
	border-collapse: collapse;
}
th, td {
	padding: 0.2em;
	border: solid 2px var(--button-bg, #969696);
}
/* afficher le title comme un h1 */
head > title, h1 {
	text-align: center;
	font-size: 2em;
}
h2, caption, legend {
	text-align: center;
	font-size: 1.5em;
}
h3, th { font-weight: bold; }
hr {
	height: 0.1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: var(--text-color, black);
	border-radius: 50%;
}
a, b, em, i, span, strong { padding: 0 0.2em; }
strong { font-weight: bold; }
ul, ol {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2%;
}
ul >*, ol >* {
	display: list-item;
	margin: 0;
}
dl {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
dt:after { content: ' :'; }
/*
li { margin-left: 2%; }
a { display: block }
*/
a { color: inherit; }
a:hover, a:focus { font-weight: bold }
body >a, div >a { display: block; }
img { mix-blend-mode: multiply; }
fieldset, legend { width: 100%; }
/* les boutons */
button, input[type='button'], input[type='submit'], input[type='reset'], select, textarea, nav >*, a.button { padding: 0.4em; }
button, input, select, textarea { outline: none; }
button, a.button, nav >*, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'], select {
	text-align: center;
	display: inline-block;
	/*
	height: var(--button-height, 2em);
	line-height: var(--button-height, 2em);
	*/
	color: var(--button-color, black);
	background-color: var(--button-bg, #969696);
	border-style: var(--button-border, none);
}
select { width: 100%; }
select:focus {
	background-color: var(--text-color, black);
	color: var(--fond-color, #EEE);
}
option {
	background-color: var(--page-color, white);
	color: var(--text-color, black);
}
button:focus, a.button:focus, nav a:focus, input[type='button']:focus, input[type='submit']:focus, input[type='reset']:focus,
button:hover, a.button:hover, nav a:hover, input[type='button']:hover, input[type='submit']:hover, input[type='reset']:hover {
	background-color: var(--button-bg-hover, #525252);
	color: var(--button-color-hover, white);
	font-weight: normal;
}
/* les champs de texte */
input[type='radio'], input[type='checkbox'], input[type='number'], input[type='date'], input[type='time'] {
	appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
}
textarea, input[type='text'], input[type='password'], input[type='email'], input[type='number'], input[type='tel'], input[type='url'],
input[type='date'], input[type='time'], input[type='datetime-local'], input[type='datetime'], input[type='month'], input[type='week'],
input[type='color'] {
	width: 100%;
	color: var(--text-color, black);
	border-style: var(--button-border, none);
	margin-bottom: 1%;
	min-height: 2em;
}
textarea, input[type='text'], input[type='password'], input[type='email'], input[type='number'], input[type='tel'], input[type='url'],
input[type='date'], input[type='time'], input[type='datetime-local'], input[type='datetime'], input[type='month'], input[type='week']
{ background-color: var(--fond-color, #EEE); }
textarea:hover, input[type='text']:hover, input[type='password']:hover, input[type='email']:hover, input[type='number']:hover,
input[type='tel']:hover, input[type='url']:hover, input[type='color']:hover, input[type='date']:hover, input[type='time']:hover,
input[type='datetime-local']:hover, input[type='datetime']:hover, input[type='month']:hover, input[type='week']:hover,
textarea:focus, input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='number']:focus,
input[type='tel']:focus, input[type='url']:focus, input[type='color']:focus, input[type='date']:focus, input[type='time']:focus,
input[type='datetime-local']:focus, input[type='datetime']:focus, input[type='month']:focus, input[type='week']:focus
	{ border-style: solid; }
::placeholder {
	color: var(--text-color, black);
	opacity: 0.6;
}
textarea {
	height: 3em;
	max-width: 100%;
}
/* les boutons radio */
input[type='radio'], input[type='checkbox'] {
	width: 1em;
	height: 1em;
	border-style: solid;
	border-color: var(--text-color, black);
}
input[type='radio']:focus, input[type='checkbox']:focus { background-color: var(--fond-color, #EEE); }
input[type='radio']:checked, input[type='checkbox']:checked { background-color: var(--button-bg, #969696); }
/* barre de navigation */
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0;
}
nav >* {
	flex-basis: 1;
	flex-grow: 1;
	flex-shrink: 1;
}
sup { font-size: 0.6em; }
sub {
	font-size: 0.6em;
	vertical-align: bottom;
}
dialog {
	border-style: double;
	border-width: 8px;
	padding: 0.5em;
/*	display: flex;	bloque le fonctionnement natif */
	margin: 8em auto;
	height: 8em;
	width: 24em;
	color: inherit;
	background-color: inherit;
}
dialog >* { margin-bottom: 0; }
/* le svg */
svg, svg * { box-sizing: content-box; }
circle, ellipse, rect, polygon, polyline, line, path {
	fill: var(--fond-color, #EEE);
	stroke: var(--bord-color, #AAA);
	stroke-width: 2px;
}
text {
	fill: var(--text-color);
	stroke: none;
	dominant-baseline: auto;
	text-anchor: middle;
	font-family: sans-serif;
	font-size: 1em;
}
/* l'infobulle ou tooltip
<p aria-describedby='description-aria'>paragraphe survolable avec une description aria.</p>
<p id='description-aria' role='tooltip' aria-hidden='true'>la description doit obligatoirement suivre son référent (+ dans le css).</p>
si une infobulle est fermable via js (touche echap), elle doit être ouverte par js. les modifications du style via js masquent celles via css.
*/
[role='tooltip'] {
	position: relative;
	top: -2em;
	left: 1em;
	border: solid 2px var(--bord-color);
	border-radius: 1em;
	text-align: center;
	padding: 1%;
	display: none;
}
[role='tooltip']:hover, [role='tooltip']:focus,
[aria-describedby]:hover + [role='tooltip'], [aria-describedby]:focus + [role='tooltip'] { display: inline-block; }
/* pour les lecteurs d'écran */
.sr-only {
	/* source: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%); 
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	white-space: nowrap;
	padding: 0;
	border: 0;
	position: absolute;
}
a.sr-only:focus, a.sr-only:active {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	overflow: visible;
	width: auto;
	height: auto;
	margin: auto;
	white-space: normal;
}
/* affichage pour les tablettes */
@media (max-width: 992px){}
/* affichage pour les smartphones */
@media (max-width: 768px){
	img +*, .right +* { clear: right }
	nav { flex-wrap: wrap }
}
@media print{}
/* dimensions de ma liseuse kobo touch: 295px * 380px */
@media (width: 295px) and (height: 380px){}
/* pour mes pwa */
button#install-pwa { display: none; }
.hidden { display: none; }
/* scroll bar de firefox */
:root {
	overflow: auto;
	scrollbar-color: var(--text-color, black) var(--page-color, white);
	scrollbar-width: 1em;
}
/* scroll bar de chrome
div::-webkit-scrollbar { width: 1em; }
*/
::-webkit-scrollbar { width: 1em; }
::-webkit-scrollbar-track { background-color: var(--page-color, white); }
::-webkit-scrollbar-thumb {
	background-color: var(--text-color, black);
	border-radius: 1em;
}
