*:hover:before, a#rgaa-download-rapport {
	display: block;
	background-color: ivory;
	opacity: 1;
	color: #420;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-family: georgia, serif;
	text-transform: none;
	text-decoration: none;
	border: double 8px deeppink;
	border-radius: 0.5em;
	padding: 0.5em;
	white-space: pre-wrap;
	max-width: 40vw;
	position: fixed;
	bottom: 2em;
	z-index: 20;
}
*:hover:before {
	content: none;
	right: 0;
}
a#rgaa-download-rapport { left: 0; }
a#rgaa-download-rapport.moved {
	bottom: unset;
	top: 0%;
}
.rgaa-highlight {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: deeppink !important;
}
.rgaa-error {
	border-style: dashed !important;
	border-width: 4px !important;
	border-color: orangered;
}
