/* doutes sur l'utilisation du focus */
*:hover:before, *:focus:before, a#rgaa-download-rapport {
	display: block !important;
	background-color: ivory !important;
	opacity: 1 !important;
	color: #420 !important;
	font-size: 18px !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-family: georgia, serif !important;
	text-transform: none !important;
	text-decoration: none !important;
	border: double 8px deeppink !important;
	border-radius: 0.5em !important;
	padding: 0.5em !important;
	white-space: pre-wrap !important;
	max-width: 40vw !important;
	position: fixed !important;
	bottom: 2em !important;
	z-index: 20;
}
*:hover:before, *:focus:before {
	content: none;
	right: 0;
}
a#rgaa-download-rapport { left: 0; }
a#rgaa-download-rapport.moved {
	bottom: unset;
	top: 0%;
}
.rgaa-highlight {
	border-style: dotted !important;
	border-width: 4px !important;
	border-color: teal !important;
}
.rgaa-highlight:hover:before { content: attr(infos); }
.rgaa-error {
	border-style: dashed !important;
	border-width: 4px !important;
	border-color: deeppink !important;
}
.rgaa-error:hover:before { content: 'erreur:\A' attr(infos); }
