/* fonctionne avec elm-focus-interract.css */
:focus {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: orangered !important;
}
[tabindex] {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: teal !important;
}
[role='presentation'] [tabindex], [aria-hidden='true'] [tabindex],
[tabindex][role='presentation'], [tabindex][aria-hidden='true'], [tabindex='-1'] { border-style: dashed !important; }

a:hover:after { content: 'lien'; }
button:hover:after { content: 'bouton'; }
input:hover:after { content: 'input ', attr(type); }
select:hover:after { content: 'select'; }
textarea:hover:after { content: 'textarea'; }
[role='button']:hover:after { content: 'rôle bouton'; }
[role='link']:hover:after { content: 'rôle lien'; }
[tabindex]:hover:after { content: 'tabindex: ' attr(tabindex); }
a[tabindex]:hover:after { content: 'lien, tabindex: ' attr(tabindex); }
button[tabindex]:hover:after { content: 'bouton, tabindex: ' attr(tabindex); }
input[tabindex]:hover:after { content: 'input ', attr(type), ', tabindex: ' attr(tabindex); }
select[tabindex]:hover:after { content: 'select, tabindex: ' attr(tabindex); }
textarea[tabindex]:hover:after { content: 'textarea, tabindex: ' attr(tabindex); }
[role='button'][tabindex]:hover:after { content: 'rôle bouton, tabindex: ' attr(tabindex); }
[role='link'][tabindex]:hover:after { content: 'rôle lien, tabindex: ' attr(tabindex); }
/*
main[tabindex]:hover:after { content: none; }
réparer les exès
*/
body[tabindex] { border-style: none; }
body[tabindex]:hover:after { content: none; }