a, [role='link'] {
	border-style: dashed !important;
	border-width: 4px !important;
	border-color: deeppink !important;
}
[role='link'] { border-color: springgreen !important; }
li a { border-color: mediumvioletred !important; }
a[disabled], [role='link'][disabled] { border-style: dotted !important; }
a[href], [role='link'][href] { border-style: solid !important; }
a[href=""], a[href='#'], [role='link'][href=""], [role='link'][href='#'] { border-style: dashed !important; }
a.rgaa-error, [role='link'].rgaa-error { border-style: dashed !important; }

/* a:hover:before { content: 'a #' attr(id) ' :' attr(role) '\A.' attr(class); } */
a:hover:before { content: 'ancre\A' attr(infos); }
[role='link']:hover:before { content: 'role lien\A' attr(infos); }
