/* https://accessibilite.numerique.gouv.fr/methode/glossaire/#champ-de-saisie-de-formulaire */

form, [role='group'], fieldset, legend, input, textarea, label, form button, select, optgroup, option, datalist {
	background-color: ivory !important;
	color: #603 !important;
	border-width: 4px !important;
	box-sizing: border-box !important;
}
form:hover, [role='group']:hover, fieldset:hover, legend:hover, input:hover, textarea:hover, label:hover,
form button:hover, select:hover, optgroup:hover, option:hover,
form:focus, [role='group']:focus, fieldset:focus, legend:focus, input:focus, textarea:focus, label:focus,
form button:focus, select:focus, optgroup:focus, option:focus
	{ border-width: 8px !important; }
fieldset, legend, input, textarea, label, select, optgroup, option { border-style: dotted !important; }
form, form fieldset, form legend, form input, form textarea, form label, form button, form select, form optgroup, form option
	{ border-style: solid !important; }
form { border-color: #666 !important; }
fieldset, [role='group'] { border-color: #444 !important; }
select {
	border-color: #660 !important;
	color: #550 !important;
}
optgroup { border-color: #963 !important; }
option {
	color: #900 !important;
	border-color: #C00 !important;
	border-style: none !important;
}
legend { border-color: #93F !important; }
label { border-color: #C09 !important; }
input, textarea { border-color: #36C !important; }
form button, input[type='button'], input[type='submit'], input[type='reset'], input[type='image'] {
	border-color: #399 !important;
}
datalist {
	display: block !important;
	border-color: #F3C !important;
}
/* champs au format de saisie contrôlé */
input[type='number'], input[type='email'], input[type='password'], input[type='tel'], input[type='url'], input[type='color'],
input[type='date'], input[type='time'], input[type='datetime-local'], input[type='datetime'], input[type='month'], input[type='week']
{ border-color: #093 !important; }