main, [role='main'], header, [role='banner'], footer, [role='contentinfo'], nav, [role='navigation'], aside
	{ border-width: 4px !important; }
[role='main'], header, footer, nav, aside { border-style: solid !important; }
main, [role='main'], [role='banner'], [role='contentinfo'], [role='navigation'] { border-style: dashed !important; }
main[hidden], header[role='banner'][hidden], footer[role='contentinfo'][hidden] { border-style: dotted !important; }
main[role='main'], header[role='banner'], footer[role='contentinfo'], nav[role='navigation'] {
	border-style: double !important;
	border-width: 8px !important;
}
main, [role='main'] { border-color: deeppink !important; }
header, [role='banner'] { border-color: forestgreen !important; }
footer, [role='contentinfo'] { border-color: springgreen !important; }
nav, [role='navigation'] { border-color: skyblue !important; }
aside { border-color: orangered !important; }
main:hover:before { content: 'main'; }
header:hover:before { content: 'header'; }
footer:hover:before { content: 'footer'; }
nav:hover:before { content: 'barre de navigation'; }
aside:hover:before { content: 'aside. role: ' attr(role, 'absent'); }
header[role='banner']:hover:before { content: 'header principal'; }
footer[role='contentinfo']:hover:before { content: 'pied de page'; }
nav[role='navigation']:hover:before { content: 'barre de navigation principale\A' attr(infos); }
