area, canvas, img, input[type='image'], object, svg, [role='img'], [role='presentation'], .rgaa-bgimg { border-width: 4px !important; }

/* les images décoratives */
[role='img'], area[role='img'], canvas[role='img'], img[role='img'], object[role='img'], svg[role='img'], .rgaa-bgimg[role='img'],
[role='presentation'], area[role='presentation'], canvas[role='presentation'], img[role='presentation'], object[role='presentation'],
svg[role='presentation'], .rgaa-bgimg[role='presentation'],
img[alt=""], area[alt=""], img[alt][aria-hidden='true'], area[alt][aria-hidden='true'],
area[aria-hidden='true'], canvas[aria-hidden='true'], img[aria-hidden='true'], object[aria-hidden='true'], svg[aria-hidden='true'],
.rgaa-bgimg[aria-hidden='true'], [aria-hidden='true'] .rgaa-bgimg
[aria-hidden='true'] area, [aria-hidden='true'] canvas, [aria-hidden='true'] img, [aria-hidden='true'] object, [aria-hidden='true'] svg
	{ border-style: dotted !important; }

/* les images qui ne devrait pas être décoratives */
a area[aria-hidden='true'], a canvas[aria-hidden='true'], a img[aria-hidden='true'], a object[aria-hidden='true'], a svg[aria-hidden='true'],
[aria-hidden='true'] a area, [aria-hidden='true'] a canvas, [aria-hidden='true'] a img, [aria-hidden='true'] a object,
[aria-hidden='true'] a svg { border-style: dashed !important; }

/* les images informatives */
area[alt], canvas, img[alt], input[type='image'][alt], object, svg, .rgaa-bgimg { border-style: solid !important; }

/* les images de fond sans couleur de doublage */
.rgaa-bgimg.rgaa-bgnocolor { border-style: dashed !important; }

/* les couleurs distingant les différents objets */
img, img[role] { border-color: #C0F !important; }
svg, svg[role] { border-color: #90F !important; }
text {
	fill: yellow !important;
	stroke: maroon !important;
	stroke-width: 1px !important;
}
svg:hover text {
	stroke-width: 2px !important;
	font-size: 50px;
}
[role='img'], [role='presentation'] { border-color: #60F !important; }
input[type='image'] { border-color: #30F !important; }
area, canvas, object, area[role], canvas[role], object[role] { border-color: #00F !important; }
.rgaa-bgimg {
	border-style: solid !important;
	border-color: #F0F !important;
}
/* les images dans des liens */
a area, a canvas, a img, a input[type='image'], a object, a svg, a [role='img'], a [role='presentation'], a .rgaa-bgimg, a.rgaa-bgimg
	{ border-width: 8px !important; }

/* les styles par défaut */
img, area { border-style: dashed; }

/* affichage des infos au survol */
img:hover:before, img[role]:hover:before { content: 'img alt: ' attr(alt, 'manquant') '\A' attr(infos); }
svg:hover:before, svg[role]:hover:before { content: 'svg\A' attr(infos); }
area:hover:before, area[role]:hover:before { content: 'area\A alt: ' attr(alt, 'manquant') '\A' attr(infos); }
canvas:hover:before, canvas[role]:hover:before { content: 'canvas\A' attr(infos); }
object:hover:before, object[role]:hover:before { content: 'object\A' attr(infos); }
input[type='image']:hover:before { content: 'input image\A alt: ' attr(alt, 'manquant') '\A' attr(infos); }
[role='img']:hover:before, [role='presentation']:hover:before { content: 'role\A' attr(infos); }
.rgaa-bgimg.rgaa-bgnocolor:hover:before { content: attr(infos); }

