h1, h2, h3, h4, h5, h6 {
	border-style: solid !important;
	border-color: deeppink !important;
	border-width: 4px !important;
}
h1:before { content: 'h1: '; }
h2:before { content: 'h2: '; }
h3:before { content: 'h3: '; }
h4:before { content: 'h4: '; }
h5:before { content: 'h5: '; }
h6:before { content: 'h6: '; }

h1[role='presentation'], h2[role='presentation'], h3[role='presentation'], h4[role='presentation'],
h5[role='presentation'], h6[role='presentation'] { border-style: dashed !important; }

p.title-presentation { color: hotpink; }
section#volet-rgaa div { border-style: solid; }
section#volet-rgaa span {
	display: block;
	font-weight: bold;
}
[role='heading'] {
	border-style: dashed;
	border-color: limegreen !important;
	border-width: 4px !important;
}
[role='heading'][aria-level] { border-style: solid !important; }
[role='heading'][aria-level]:before { content: 'aria ' attr(aria-level) ': '; }
[role='heading']:before { content: 'aria 0: '; }
/*
section#volet-rgaa div > p { display: none; }
section#volet-rgaa div:hover > p { display: block; }
*/