/* fonctionne avec elm-focus.css */
[aria-live], [role='alert'], [role='status'], [role='log'], [role='progressbar'], [role='timer'], [role='marquee'] {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: orangered !important;
}
/*
a:hover:before { content: 'ancre\A' attr(infos); }
[role='link']:hover:before { content: 'role lien\A' attr(infos); }
input:hover:before { content: 'input ' attr(type) '\A' attr(infos); }
select:hover:before { content: 'secteur\A' attr(infos); }
textarea:hover:before { content: 'text area\A' attr(infos); }
*/
