button, a, input, select, textarea, [role='button'], [role='link'] {
	border-style: solid !important;
	border-width: 4px !important;
}
input + label { color: #C09 !important; }
a, [role='link'] { border-color: deeppink !important; }
button, [role='button'] { border-color: orangered !important; }
input, select, textarea { border-color: springgreen !important; }

[role='presentation'] button, [role='presentation'] a, [role='presentation'] input, [role='presentation'] select, [role='presentation'] textarea, [role='presentation'][role='button'], [role='presentation'][role='link'],
[aria-hidden='true'] button, [aria-hidden='true'] a, [aria-hidden='true'] input, [aria-hidden='true'] select, [aria-hidden='true'] textarea, [aria-hidden='true'][role='button'], [aria-hidden='true'][role='link'],
button[role='presentation'], a[role='presentation'], input[role='presentation'], select[role='presentation'], textarea[role='presentation'],
[tabindex][aria-hidden='true'], button[aria-hidden='true'], a[aria-hidden='true'], input[aria-hidden='true'], select[aria-hidden='true'], textarea[aria-hidden='true'], [role='button'][aria-hidden='true'], [role='link'][aria-hidden='true'],
[tabindex='-1'], button[tabindex='-1'], a[tabindex='-1'], input[tabindex='-1'], select[tabindex='-1'], textarea[tabindex='-1'], [role='button'][tabindex='-1'], [role='link'][tabindex='-1'],
[disabled], button[disabled], a[disabled], input[disabled], select[disabled], textarea[disabled], [role='button'][disabled], [role='link'][disabled]
	{ border-style: dashed !important; }

body *:focus {
	border: solid 4px teal !important;
	background-color: pink !important;
	font-weight: bold !important;
	color: teal !important;
	/* rendre les éléments visibles */
	display: block !important;
	visibility: visible !important;
	overflow: visible !important;
	width: auto !important;
	height: auto !important;
	margin: auto !important;
	white-space: normal !important;
	position: static;
	opacity: 1;
	font-size: 1em !important;
	color: #420 !important;
	background-color: ivory !important;
	padding: 1% !important;
	/* supprimer les masques */
	mask: none !important;
	mask-image: none !important;
	mask-clip: none !important;
	mask-border: none !important;
	clip: none !important;
	clip-path: none !important;
	-webkit-clip-path: none !important;
	background-clip: none !important;
	offset-path: none !important;
}
input:focus + label {
	font-weight: bold !important;
	color: teal !important;
}
main:focus, form:focus, div:focus, section:focus, fielset:focus {
	/* éffacer des affichages en trop */
	background-color: unset !important;
	font-weight: unset !important;
	color: unset !important;
}
a *:hover:after, [role='link'] *:hover:after, button *:hover:after, [role='button'] *:hover:after, label *:hover:after, select *:hover:after
	{ content: none; }