ol, ul, dl, [role='list'] {
	border-style: solid;
	border-width: 4px !important;
}
ol { border-color: magenta !important; }
ul { border-color: deeppink !important; }
dl { border-color: purple !important; }
[role='list'] { border-color: blue !important; }
ol[role='presentation'], ul[role='presentation'], dl[role='presentation'] { border-style: dashed !important; }
/* les listes */
ol >*, ul >*, dl >*, [role='list'] >* {
	border-style: dashed;
	border-width: 2px !important;
	border-color: inherit !important;
}
ol > li, ul > li, dl > dt, dl > dd, [role='list'] > [role='listitem'] { border-style: none; }
ol:hover:before { content: 'ol'; }
ul:hover:before { content: 'ul'; }
dl:hover:before { content: 'dl'; }
[role='list']:hover:before { content: 'role liste'; }

/* a en-dehors des listes */
a {
	border-style: solid;
	border-width: 4px !important;
	border-color: limegreen !important;
}
ol a, ul a { border-style: none !important; }
/* les citations */
q, blockquote {
	border-style: solid !important;
	border-color: green !important;
}
q { border-width: 2px !important; }
blockquote { border-width: 4px !important; }
blockquote:hover:before { content: 'blockquote'; }
q:hover:before { content: 'quote'; }
