[tabindex], button, a, input, select, textarea, [role='button'], [role='link'] {
	border-style: solid !important;
	border-width: 4px !important;
}
[tabindex] { border-color: teal !important; }
a, [role='link'] { border-color: deeppink !important; }
button, [role='button'] { border-color: cornflowerblue !important; }
input, select, textarea { border-color: springgreen !important; }

[tabindex]:hover:before { content: 'tabindex: ' attr(tabindex); }
a:hover:before { content: 'lien'; }
button:hover:before { content: 'bouton'; }
input:hover:before { content: 'input ', attr(type); }
select:hover:before { content: 'select'; }
textarea:hover:before { content: 'textarea'; }
[role='button']:hover:before { content: 'rôle bouton'; }
[role='link']:hover:before { content: 'rôle lien'; }
a[tabindex]:hover:before { content: 'lien, tabindex: ' attr(tabindex); }
button[tabindex]:hover:before { content: 'bouton, tabindex: ' attr(tabindex); }
input[tabindex]:hover:before { content: 'input ', attr(type), ', tabindex: ' attr(tabindex); }
select[tabindex]:hover:before { content: 'select, tabindex: ' attr(tabindex); }
textarea[tabindex]:hover:before { content: 'textarea, tabindex: ' attr(tabindex); }
[role='button'][tabindex]:hover:before { content: 'rôle bouton, tabindex: ' attr(tabindex); }
[role='link'][tabindex]:hover:before { content: 'rôle lien, tabindex: ' attr(tabindex); }

[role='presentation'] [tabindex], [role='presentation'] button, [role='presentation'] a, [role='presentation'] input, [role='presentation'] select, [role='presentation'] textarea, [role='presentation'] [role='button'], [role='presentation'] [role='link'],
[aria-hidden='true'] [tabindex], [aria-hidden='true'] button, [aria-hidden='true'] a, [aria-hidden='true'] input, [aria-hidden='true'] select, [aria-hidden='true'] textarea, [aria-hidden='true'] [role='button'], [aria-hidden='true'] [role='link'],
[tabindex][role='presentation'], button[role='presentation'], a[role='presentation'], input[role='presentation'], select[role='presentation'], textarea[role='presentation'],
[tabindex][aria-hidden='true'], button[aria-hidden='true'], a[aria-hidden='true'], input[aria-hidden='true'], select[aria-hidden='true'], textarea[aria-hidden='true'], [role='button'][aria-hidden='true'], [role='link'][aria-hidden='true'],
[tabindex='-1'], button[tabindex='-1'], a[tabindex='-1'], input[tabindex='-1'], select[tabindex='-1'], textarea[tabindex='-1'], [role='button'][tabindex='-1'], [role='link'][tabindex='-1'],
[disabled], button[disabled], a[disabled], input[disabled], select[disabled], textarea[disabled], [role='button'][disabled], [role='link'][disabled]
	{ border-style: dashed !important; }