main, [role='main'], header, [role='banner'], footer, [role='contentinfo'], nav, [role='navigation'], aside, [role='search'] {
	border-width: 4px !important;
	border-color: deeppink !important;
	border-style: solid !important;
}
main[role='main'], header[role='banner'], footer[role='contentinfo'], nav[role='navigation'], aside, input[role='search'], textarea[role='search']
	{ border-color: limegreen !important; }
main[aria-hidden='true'], header[role='banner'][aria-hidden='true'], footer[role='contentinfo'][aria-hidden='true'],
main[hidden], header[role='banner'][hidden], footer[role='contentinfo'][hidden]
	{ border-style: dashed !important; }

main:hover:after, [role='main']:hover:after { content: 'main secondaire, qui doit être invisible' !important; }
header:hover:after { content: 'header secondaire' !important; }
footer:hover:after { content: 'footer secondaire' !important; }
nav:hover:after { content: 'barre de navigation interne' !important; }
aside:hover:after { content: 'aside. role: ' attr(role, 'absent') !important; }
main[role='main']:hover:after { content: 'main principal' !important; }
header[role='banner']:hover:after { content: 'tête de page' !important; }
footer[role='contentinfo']:hover:after { content: 'pied de page' !important; }
nav[role='navigation']:hover:after { content: 'barre de navigation principale\A' attr(infos) !important; }

