[hidden], [aria-hidden], .rgaa-hidden, [class*='sr-only'], [class*='sronly'] {
	display: block !important;
	visibility: visible !important;
	font-size: 1em !important;
	color: deeppink !important;
	background-color: ivory !important;
	padding: 1%;
	border-width: 4px !important;
	border-style: solid !important;
}
[class*='sr-only'], [class*='sronly'] {
	clip: unset !important;
	clip-path: unset !important;
	-webkit-clip-path: none !important;
	border: solid 4px purple !important;
	overflow: visible !important;
	width: auto !important;
	height: auto !important;
	margin: auto !important;
	white-space: normal !important;
	position: static;
	opacity: 1;
	border-color: purple !important;
}
[aria-hidden='false'] { border-style: dashed !important; }
[hidden]:before { content: 'attr hidden'; }
[aria-hidden]:before { content: 'attr aria-hidden'; }
[class*='sr-only']:before, [class*='sronly']:before { content: 'sronly'; }
.rgaa-hidden:before { content: 'css hidden'; }
