/* https://accessibilite.numerique.gouv.fr/methode/glossaire/#champ-de-saisie-de-formulaire */

input:focus, textarea:focus, form button:focus, button[form]:focus, select:focus, optgroup:focus, option:focus {
	border: solid 4px teal !important;
	background-color: pink !important;
}
input:focus + label {
	font-weight: bold !important;
	color: teal !important;
}
form, fieldset, fieldset[role='group'], fieldset[role='radiogroup'] {
	border-width: 4px !important;
	border-style: solid !important;
}
[role='form'], [role='group'], [role='radiogroup'] {
	border-width: 4px !important;
	border-style: dotted !important;
}
form, [role='form'] { border-color: deeppink !important; }
fieldset, [role='group'], [role='radiogroup'], [role='form'] [role='group'], [role='form'] [role='radiogroup']
	{ border-color: deepskyblue !important; }
select {
	color: #550 !important;
	background-color: ivory !important;
}
optgroup { border-color: #963 !important; }
legend, form h3, [role='form'] h3, legend * { color: #93F !important; }
label { color: #C09 !important; }
form button, input[type='button'], button[form], input[type='submit'], input[type='reset'], input[type='image'], [role='button'] {
	color: black !important;
	background-color: #DFD !important;
	border: solid 2px #787 !important;
}
input[type='radio'][aria-expended] + label, input[type='radio'][aria-controls] + label, input[type='checkbox'][aria-expended] + label,
input[type='checkbox'][aria-controls] + label {
	border: dashed 2px #778 !important;
}
input[type='radio'][aria-expended][aria-controls] + label, input[type='checkbox'][aria-expended][aria-controls] + label {
	border-style: solid !important;
}
datalist {
	display: block !important;
	color: black;
	border-color: #F3C !important;
}
[aria-invalid='true'] { background-color: pink !important; }
button[form]:hover:after { content: "bouton innadapté " attr(type, 'sans type') " pour le formulaire " attr(form) !important; }
button[form][type='submit']:hover:after { content: "bouton pour formulaire " attr(form) !important; }
legend:hover:after { content: 'legend'; }
form h3:hover:after, [role='form'] h3:hover:after { content: 'h3'; }
label:hover:after { content: attr(infos); }
label *:hover:after, legend *:hover:after, h3 *:hover:after { content: none; }
