iframe, figure {
	border-style: dotted !important;
	border-width: 4px !important;
}
iframe { border-color: deeppink !important; }
figure { border-color: limegreen !important; }
iframe[title], iframe[aria-label], iframe[aria-labelledby],
figure[role='group'][title], figure[role='group'][aria-label], figure[role='group'][aria-labelledby],
figure[role='figure'][title], figure[role='figure'][aria-label], figure[role='figure'][aria-labelledby],
	{ border-style: solid !important; }
figcaption {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: magenta !important;
}

iframe:hover:before { content: 'tître manquant' '\A' attr(infos); }
iframe[title]:hover:before { content: 'title: ' attr(title) '\A' attr(infos); }

figure[title]:hover:before { content: 'rôle: ' attr(role, 'manquant') '\Atitle: ' attr(title) '\A' attr(infos);; }
figure[aria-label]:hover:before { content: 'rôle: ' attr(role, 'manquant') '\Alabel: ' attr(aria-label) '\A' attr(infos); }
figure[aria-labelledby]:hover:before { content: 'rôle: ' attr(role, 'manquant') '\Alabelled by: ' attr(aria-labelledby) '\A' attr(infos); }
