button, a, input, select, textarea, [role='button'], [role='link'] {
	border-style: solid !important;
	border-width: 4px !important;
}
input + label { color: #C09 !important; }
a, [role='link'] { border-color: deeppink !important; }
button, [role='button'] { border-color: cornflowerblue !important; }
input, select, textarea { border-color: springgreen !important; }

/* body [tabindex] {*/
body [tabindex]:not(body [tabindex='-1']) {
	border-style: solid !important;
	border-width: 4px !important;
	border-color: orange !important;
}
[role='presentation'] button, [role='presentation'] a, [role='presentation'] input, [role='presentation'] select, [role='presentation'] textarea, [role='presentation'] [role='button'], [role='presentation'] [role='link'],
[aria-hidden='true'] button, [aria-hidden='true'] a, [aria-hidden='true'] input, [aria-hidden='true'] select, [aria-hidden='true'] textarea, [aria-hidden='true'] [role='button'], [aria-hidden='true'] [role='link'],
button[role='presentation'], a[role='presentation'], input[role='presentation'], select[role='presentation'], textarea[role='presentation'],
[tabindex][aria-hidden='true'], button[aria-hidden='true'], a[aria-hidden='true'], input[aria-hidden='true'], select[aria-hidden='true'], textarea[aria-hidden='true'], [role='button'][aria-hidden='true'], [role='link'][aria-hidden='true'],
button[tabindex='-1'], a[tabindex='-1'], input[tabindex='-1'], select[tabindex='-1'], textarea[tabindex='-1'], [role='button'][tabindex='-1'], [role='link'][tabindex='-1'],
[disabled], button[disabled], a[disabled], input[disabled], select[disabled], textarea[disabled], [role='button'][disabled], [role='link'][disabled],
[role='presentation'] [tabindex], [aria-hidden='true'] [tabindex], [tabindex][role='presentation'], [tabindex][aria-hidden='true'], [tabindex='-1']
	{ border-style: dashed !important; }
/* body [tabindex='-1'], */
body *:focus {
	border: solid 4px teal !important;
	background-color: pink !important;
	font-weight: bold !important;
	color: teal !important;
}
input:focus + label {
	font-weight: bold !important;
	color: teal !important;
}
main:focus, form:focus, div:focus, section:focus, fielset:focus {
	/* éffacer des affichages en trop */
	background-color: unset !important;
	font-weight: unset !important;
	color: unset !important;
}
a:hover:after {
	content: 'lien';
	width: 8em !important;
	min-height: 4em !important;
}
button:hover:after { content: 'bouton'; }
input + label:hover:after { content: 'input, probablement radio ou checkbox'; }
select:hover:after { content: 'select'; }
textarea:hover:after { content: 'textarea'; }
[role='button']:hover:after { content: 'rôle bouton'; }
[role='link']:hover:after { content: 'rôle lien'; }
a[tabindex]:hover:after { content: 'lien, tabindex: ' attr(tabindex); }
button[tabindex]:hover:after { content: 'bouton, tabindex: ' attr(tabindex); }
input[tabindex] + label:hover:after { content: 'input, probablement radio ou checkbox tabindex: ' attr(tabindex); }
select[tabindex]:hover:after { content: 'select, tabindex: ' attr(tabindex); }
textarea[tabindex]:hover:after { content: 'textarea, tabindex: ' attr(tabindex); }
[role='button'][tabindex]:hover:after { content: 'rôle bouton, tabindex: ' attr(tabindex); }
[role='link'][tabindex]:hover:after { content: 'rôle lien, tabindex: ' attr(tabindex); }

label[for=input:hover[id]] { background-color: papayawhip; }
input[id]

/*
body [tabindex]:hover:after, main[tabindex]:hover:after, form[tabindex]:hover:after, div[tabindex]:hover:after, section[tabindex]:hover:after, fielset[tabindex]:hover:after,
body:focus:after, main:focus:after, form:focus:after, div:focus:after, section:focus:after, fielset:focus:after {
	content: "cadre cliquable à la souris. peut-être en conséquense d'un évênement js";
/*	tabindex='-1' rend les éléments inaccessibles par tabulation, mais on peut toujours cliquer dessus /
}
body [tabindex]:hover:after, body:focus:after { content: "body cliquable à la souris. peut-être en conséquense d'un évênement js"; }
main[tabindex]:hover:after, main:focus:after { content: "main cliquable à la souris. peut-être en conséquense d'un évênement js"; }
section[tabindex]:hover:after, section:focus:after { content: "section cliquable à la souris. peut-être en conséquense d'un évênement js"; }
article[tabindex]:hover:after, article:focus:after { content: "article cliquable à la souris. peut-être en conséquense d'un évênement js"; }
div[tabindex]:hover:after, div:focus:after { content: "div cliquable à la souris. peut-être en conséquense d'un évênement js"; }
form[tabindex]:hover:after, form:focus:after { content: "form cliquable à la souris. peut-être en conséquense d'un évênement js"; }
fielset[tabindex]:hover:after, fielset:focus:after { content: "fielset cliquable à la souris. peut-être en conséquense d'un évênement js"; }

main[tabindex]:hover:after { content: none; }
réparer les exès
body[tabindex] { border-style: none; }
body[tabindex]:hover:after { content: none; }
*/