body {
	margin: auto;
	padding: 0 0 1em 0;
	background-color: ivory;
	color: #603;
	font-family: serif;
	font-size: 1em;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 1em;
	/* line-height: 2em; */
	vertical-align: top;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: inherit;
	background: none;
	outline: none;
	border-width: 2px;
	border-style: none;
	border-color: #C36;
}
*:first-letter { text-transform: uppercase; }
*:before, *:after { box-sizing: border-box; }
/* nouveauté, les blocs de code */
xmp {
	margin: 0 2%;
	padding: 1%;
	border-style: dotted;
	background-color: #FBD;
	white-space: pre;
}
figure {
	text-align: center;
	margin-bottom: 1em;
}
p.indent-1 { margin-left: 2em; }
p.indent-2 { margin-left: 4em; }
p.indent-3 { margin-left: 6em; }
table, caption, tr {
	/* width: 100%; */
	border-collapse: collapse;
}
th, td {
	padding: 0.2em;
	border: solid 2px #C36;
}
li { margin-left: 2%; }
/* afficher le title comme un h1 */
head > title, h1, body >a {
	display: block;
	text-align: center;
	font-size: 2em;
}
h2, caption {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
h3, th { font-weight: bold; }
hr {
	height: 0.1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #603;
}
/* a { display: block } */
a:hover { font-weight: bold }
/* les boutons */
button, input, select, textarea, nav >*, a.button { padding: 0.4em; }
button, input, select, textarea { outline: none; }
button, a.button, nav >*, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'], select {
	text-align: center;
	display: inline-block;
	/*
	height: 2em;
	line-height: 2em;
	*/
	color: ivory;
	background-color: #C36;
	border-style: none;
}
button:hover, a.button:hover, nav a:hover, input[type='button']:hover, input[type='submit']:hover, input[type='reset']:hover {
	background-color: #399;
	font-weight: normal;
}
/* les champs de texte */
input[type='radio'], input[type='checkbox'], input[type='number'], input[type='date'], input[type='time'] {
	appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
}
textarea, input[type='text'], input[type='password'], input[type='email'], input[type='number'], input[type='date'], input[type='time'] {
	width: 100%;
	color: #603;
	background-color: #FBD;
	border-style: none;
	margin-bottom: 1%;
}
::placeholder {
	color: #603;
	opacity: 0.6;
}
textarea {
	height: 3em;
	max-width: 100%;
}
/* les boutons radio */
input[type='radio'], input[type='checkbox'] {
	width: 1em;
	height: 1em;
	border: solid 2px black;
	border-color: #603;
	margin-top: 1%;
}
input[type='radio']:checked, input[type='checkbox']:checked { background-color: #C36; }
/* barre de navigation */
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0;
}
nav >* {
	flex-basis: 1;
	flex-grow: 1;
	flex-shrink: 1;
}
/* affichage pour les tablettes */
@media (max-width: 992px){}
/* affichage pour les smartphones */
@media (max-width: 768px){
	img { max-width: 100%; }
	nav { flex-wrap: wrap }
}