body.search > div {
	border-style: solid;
	border-radius: 1em;
	margin: 1em;
	padding: 0.5em;
}
body.multi-chapter > div {
	margin: 1em;
	margin-top: 2em;
	padding-top: 1em;
	border-top-style: solid;
}