a {
	border-style: dashed;
	border-width: 4px !important;
	border-color: deeppink !important;
}
a[download], a.rgaa-highlight { border-style: solid !important; }
button {
	border-style: dashed;
	border-width: 4px !important;
	border-color: limegreen !important;
}
button.rgaa-highlight { border-style: solid !important; }
input[type='button'], input[type='submit'] {
	border-style: dashed;
	border-width: 4px !important;
	border-color: cadetblue !important;
}
input[type='button'].rgaa-highlight, input[type='submit'].rgaa-highlight { border-style: solid !important; }
