* {
	color: inherit;
	background-color: inherit;
	box-sizing: border-box;
	font-family: georgia;
}
*:first-letter, title:first-letter { text-transform: uppercase; }
html, body { width: 16em; }
body {
	padding: 2%;
	margin: 0;
	text-align: left;
	color: #420;
	background-color: ivory;
}
h1 { font-size: 1.2em; }
h2 { font-size: 1em; }
/* la liste d'actions */
ul {
	list-style: none;
	text-align: right;
	overflow: hidden;
}
button {
	color: ivory;
	padding: 0.5em;
	margin: 0.5em;
	border: none;
	border-radius: 1em;
	background-color: #909;
}
button:focus {
	border-width: 6px;
	border-style: dashed;
	border-color: ivory;
}
/* la section des info */
section {
	border-top: 2px solid #909;
	border-radius: 1em;
}
section.closed > p { display: none; }
section > p { display: block; }
/* divers */
.rgaa-title:before { content: attr(title) " "; }
/* scroll bar de firefox */
:root {
	overflow: auto;
	scrollbar-color: #909 ivory;
}
/* scroll bar de chrome */
::-webkit-scrollbar-track { background-color: ivory; }
::-webkit-scrollbar-thumb {
	background-color: #909;
	border-radius: 20%;
}