/* donner une forme aux balises
<p class='shape cloud'>
dépend de structure.css
*/
/* les flèches entre les éléments */
hr.arrow, p.arrow:before, span.arrow:before {
	display: inline-block;
	height: 1em;
	width: 1em;
	margin: 0 0.5em;
	background-color: var(--text-color);
	clip-path: polygon(100% 50%, 60% 0%, 60% 30%, 0% 30%, 0% 70%, 60% 70%, 60% 100%);
	border-radius: 0 50% 50% 0;	/* le border-radius double le clip-path. il indique le sens de la flèche */
	vertical-align: middle;
}
hr.arrow.left {
	clip-path: polygon(0% 50%, 40% 0%, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 40% 100%);
	border-radius: 50% 0 0 50%;
}
hr.arrow.bottom {
	clip-path: polygon(50% 100%, 0% 60%, 30% 60%, 30% 0%, 70% 0%, 70% 60%, 100% 60%);
	border-radius: 0 0 50% 50%;
}
hr.arrow.top {
	clip-path: polygon(50% 0%, 0% 40%, 30% 40%, 30% 100%, 70% 100%, 70% 40%, 100% 40%);
	border-radius: 50% 50% 0 0;
}
hr.arrow.horizontal {
	width: 2em;
	clip-path: polygon(0 50%, 40% 0%, 40% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 40% 70%, 40% 100%);
}
hr.arrow.vertical {
	height: 2em;
	clip-path: polygon(50% 0%, 0% 40%, 30% 40%, 30% 60%, 0% 60%, 50% 100%, 100% 60%, 70% 60%, 70% 40%, 100% 40%);
}
p.arrow:before, span.arrow:before {
	content: "";
	margin: 0 0.5em 0 0;
}
/* les éléments fléchés */
/* les icones */
.icon {
	width: 3em;
	height: 3em;
	background-color: var(--bord-color);
	background-image: radial-gradient(var(--bord-color) 60%, var(--text-color) 60%);
	text-align: center;
}
.icon.modify {
	clip-path: polygon(0 20%, 20% 0, 90% 72%, 100% 100%, 72% 90%);
/*	background-image: linear-gradient(135deg, var(--text-color) 30%, var(--bord-color) 30%, var(--bord-color) 70%, var(--text-color) 70%); */
}
.icon.delete {
/*	clip-path: polygon(0 0, 50% 40%, 100% 0, 60% 50%, 100% 100%, 50% 60%, 0 100%, 40% 50%); */
	clip-path: polygon(0 20%, 20% 0, 50% 40%, 80% 0, 100% 20%, 60% 50%, 100% 80%, 80% 100%, 50% 60%, 20% 100%, 0 80%, 40% 50%);
}
.shape {
	width: 3em;
	height: 3em;
	margin-left: 1em;
	z-index: 2;
	position: relative;
	background-color: var(--fond-color, #AAA);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.shape:before, .shape:after {
	content: "";
	position: absolute;
	z-index: -2;
	width: inherit;
	height: inherit;
	background-color: inherit;
	border-style: inherit;
	border-width: inherit;
	border-color: inherit;
}
.cloud {
	margin-left: 2em;
	margin-top: 1em;
	padding-top: 1em;
	border-radius: 100% 100% 0 0;
}
.cloud:before, .cloud:after {	bottom: 0;	border-radius: 100%;	}
.cloud:before {	width: 4em;	height: 75%;	left: -2em;	}
.cloud:after {	width: 3em;	height: 60%;	right: -1.5em;	}
.heart {	margin-top: 2em;	margin-bottom: 1em;	transform: rotate(45deg);	}
.heart:before, .heart:after {	border-radius: 50%;	}
.heart:before {	left: 0%;	top: -50%;	}
.heart:after {	left: -50%;	}
.outline {
	width: 3em;
	height: 3em;
	text-align: center;
	background-color: var(--fond-color);
	border-style: none;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}
.arrow-left { clip-path: polygon(0% 50%, 50% 0%, 100% 0%, 50% 50%, 100% 100%, 50% 100%); }
.arrow-left.reverse { transform: scaleX(-1); }
.outline.arrow-up { clip-path: polygon(50% 0%, 100% 30%, 70% 30%, 70% 100%, 30% 100%, 30% 30%, 0% 30%, 50% 0%); }
.outline.arrow-up.reverse { transform: scaleX(-1); }
.cross {
	background-image:
		linear-gradient(45deg, transparent 45%, var(--bord-color) 45%, var(--bord-color) 55%, transparent 55%),
		linear-gradient(135deg, transparent 45%, var(--bord-color) 45%, var(--bord-color) 55%, transparent 55%);
}
.moon {
	background-color: transparent;
	border-radius: 50%;	padding-top: 1em;
	box-shadow: -1em 0 0 0 var(--fond-color, #AAA);
	margin-left: 1em;
}
.outline.heart {
	mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0,0 100,100'><path id='heart-a' d='m 0,50 q 0,20 50,50 q 50,-30 50,-50 c 0,-60 -50,-60 -50,-10 c 0,-50 -50,-50 -50,10'/></svg>");
	/*
	mask-image: url('/home/lenovo/Bureau/site-dp/exemples/mask-heart.svg');
	-webkit-mask: url('/home/lenovo/Bureau/site-dp/exemples/mask-heart.svg') no-repeat center;
	*/
}
boule {
	/* à adapter */
	--width: 10em;
	background-color: var(--text-color);
	border: none;
	/* --- */
	display: block;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	text-align: center;
	font-size: 1em;
	border-radius: 50%;
	background-image: radial-gradient(circle at 10% 20%, #FFF8, transparent);
	width: var(--width);
	height: var(--width);
}
boule.horizontal { animation-name: boule-spin-y; }
boule.vertical { animation-name: boule-spin-x; }
cylindre {
	/* à adapter */
	--width: 6em;
	--height: 10em;
	--inclinaison: 0.6;	/* entre 0 et 1 */
	--bord: none;
	background-color: var(--text-color);
	justify-content: end; /* positionner le bout visible space-between, end, start */
	/* --- */
	width: var(--width);
	height: calc(var(--width) * var(--inclinaison) + var(--height) * (1 - var(--inclinaison)));
	font-size: 1em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	border-radius: 50%/calc(var(--width) * var(--inclinaison) *0.5);
	background-image: linear-gradient(90deg, transparent 20%, white 80%, transparent);
}
cylindre >* {
	width: 100%;
	height: calc(var(--width) * var(--inclinaison));
	border-radius: 50%;
	background-color: inherit;
	margin: 0;
	border: var(--bord);
}
cylindre.horizontal {
	flex-direction: row;
	border-radius: calc(var(--width) * var(--inclinaison) *0.5)/50%;
	width: calc(var(--width) * var(--inclinaison) + var(--height) * (1 - var(--inclinaison)));
	height: var(--width);
	background-image: linear-gradient(transparent 20%, white 80%, transparent);
}
cylindre.horizontal >* {
	width: calc(var(--width) * var(--inclinaison));
	height: 100%;
}
cylindre.tourne, cylindre.tourne >* {
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
cylindre.tourne.bout { animation-name: cylindre-tourne-bout-corp; }
cylindre.tourne.bout >* { animation-name: cylindre-tourne-bout-pieds; }
cylindre.tourne.cote { animation-name: cylindre-tourne-cote; }
cylindre.horizontal.tourne.cote { animation-name: cylindre-tourne-cote-horizontal; }

@keyframes boule-spin-y {
	0% { background-image: radial-gradient(circle at 0% 50%, #FFF8, transparent); }
	5% { background-image: radial-gradient(circle at 5% 50%, #FFF8, transparent); }
	10% { background-image: radial-gradient(circle at 10% 50%, #FFF8, transparent); }
	15% { background-image: radial-gradient(circle at 15% 50%, #FFF8, transparent); }
	20% { background-image: radial-gradient(circle at 20% 50%, #FFF8, transparent); }
	25% { background-image: radial-gradient(circle at 25% 50%, #FFF8, transparent); }
	30% { background-image: radial-gradient(circle at 30% 50%, #FFF8, transparent); }
	35% { background-image: radial-gradient(circle at 35% 50%, #FFF8, transparent); }
	40% { background-image: radial-gradient(circle at 40% 50%, #FFF8, transparent); }
	45% { background-image: radial-gradient(circle at 45% 50%, #FFF8, transparent); }
	50% { background-image: radial-gradient(circle at 50% 50%, #FFF8, transparent); }
	55% { background-image: radial-gradient(circle at 55% 50%, #FFF8, transparent); }
	60% { background-image: radial-gradient(circle at 60% 50%, #FFF8, transparent); }
	65% { background-image: radial-gradient(circle at 65% 50%, #FFF8, transparent); }
	70% { background-image: radial-gradient(circle at 70% 50%, #FFF8, transparent); }
	75% { background-image: radial-gradient(circle at 75% 50%, #FFF8, transparent); }
	80% { background-image: radial-gradient(circle at 80% 50%, #FFF8, transparent); }
	85% { background-image: radial-gradient(circle at 85% 50%, #FFF8, transparent); }
	90% { background-image: radial-gradient(circle at 90% 50%, #FFF8, transparent); }
	95% { background-image: radial-gradient(circle at 95% 50%, #FFF8, transparent); }
	100% { background-image: radial-gradient(circle at 100% 50%, #FFF8, transparent); }
}
@keyframes boule-spin-x {
	0% { background-image: radial-gradient(circle at 50% 0%, #FFF8, transparent); }
	5% { background-image: radial-gradient(circle at 50% 5%, #FFF8, transparent); }
	10% { background-image: radial-gradient(circle at 50% 10%, #FFF8, transparent); }
	15% { background-image: radial-gradient(circle at 50% 15%, #FFF8, transparent); }
	20% { background-image: radial-gradient(circle at 50% 20%, #FFF8, transparent); }
	25% { background-image: radial-gradient(circle at 50% 25%, #FFF8, transparent); }
	30% { background-image: radial-gradient(circle at 50% 30%, #FFF8, transparent); }
	35% { background-image: radial-gradient(circle at 50% 35%, #FFF8, transparent); }
	40% { background-image: radial-gradient(circle at 50% 40%, #FFF8, transparent); }
	45% { background-image: radial-gradient(circle at 50% 45%, #FFF8, transparent); }
	50% { background-image: radial-gradient(circle at 50% 50%, #FFF8, transparent); }
	55% { background-image: radial-gradient(circle at 50% 55%, #FFF8, transparent); }
	60% { background-image: radial-gradient(circle at 50% 60%, #FFF8, transparent); }
	65% { background-image: radial-gradient(circle at 50% 65%, #FFF8, transparent); }
	70% { background-image: radial-gradient(circle at 50% 70%, #FFF8, transparent); }
	75% { background-image: radial-gradient(circle at 50% 75%, #FFF8, transparent); }
	80% { background-image: radial-gradient(circle at 50% 80%, #FFF8, transparent); }
	85% { background-image: radial-gradient(circle at 50% 85%, #FFF8, transparent); }
	90% { background-image: radial-gradient(circle at 50% 90%, #FFF8, transparent); }
	95% { background-image: radial-gradient(circle at 50% 95%, #FFF8, transparent); }
	100% { background-image: radial-gradient(circle at 50% 100%, #FFF8, transparent); }
}
@keyframes cylindre-tourne-bout-pieds {
	0% { height: 0; }
	10% { height: calc(var(--width) *0.1); }
	20% { height: calc(var(--width) *0.2); }
	30% { height: calc(var(--width) *0.3); }
	40% { height: calc(var(--width) *0.4); }
	50% { height: calc(var(--width) *0.5); }
	60% { height: calc(var(--width) *0.6); }
	70% { height: calc(var(--width) *0.7); }
	80% { height: calc(var(--width) *0.8); }
	90% { height: calc(var(--width) *0.9); }
	100% { height: var(--width); }
}
@keyframes cylindre-tourne-bout-corp {
	0% {
		height: var(--height);
		border-radius: 50%/0%;
	}
	10% {
		height: calc(var(--width) *0.1 + var(--height) *0.9);
		border-radius: 50%/calc(var(--width) *0.05);
	}
	20% {
		height: calc(var(--width) *0.2 + var(--height) *0.8);
		border-radius: 50%/calc(var(--width) *0.1);
	}
	30% {
		height: calc(var(--width) *0.3 + var(--height) *0.7);
		border-radius: 50%/calc(var(--width) *0.15);
	}
	40% {
		height: calc(var(--width) *0.4 + var(--height) *0.6);
		border-radius: 50%/calc(var(--width) *0.2);
	}
	50% {
		height: calc(var(--width) *0.5 + var(--height) *0.5);
		border-radius: 50%/calc(var(--width) *0.25);
	}
	60% {
		height: calc(var(--width) *0.6 + var(--height) *0.4);
		border-radius: 50%/calc(var(--width) *0.3);
	}
	70% {
		height: calc(var(--width) *0.7+ var(--height) *0.3);
		border-radius: 50%/calc(var(--width) *0.35);
	}
	80% {
		height: calc(var(--width) *0.8 + var(--height) *0.2);
		border-radius: 50%/calc(var(--width) *0.4);
	}
	90% {
		height: calc(var(--width) *0.9 + var(--height) *0.1);
		border-radius: 50%/calc(var(--width) *0.45);
	}
	100% {
		height: var(--width);
		border-radius: 50%;
	}
}
@keyframes cylindre-tourne-cote {
	0% { background: linear-gradient(90deg, transparent, #FFF8 20%, transparent); }
	10% { background: linear-gradient(90deg, transparent, #FFF8 27%, transparent); }
	20% { background: linear-gradient(90deg, transparent, #FFF8 34%, transparent); }
	30% { background: linear-gradient(90deg, transparent, #FFF8 41%, transparent); }
	40% { background: linear-gradient(90deg, transparent, #FFF8 48%, transparent); }
	50% { background: linear-gradient(90deg, transparent, #FFF8 55%, transparent); }
	60% { background: linear-gradient(90deg, transparent, #FFF8 62%, transparent); }
	70% { background: linear-gradient(90deg, transparent, #FFF8 69%, transparent); }
	80% { background: linear-gradient(90deg, transparent, #FFF8 76%, transparent); }
	90% { background: linear-gradient(90deg, transparent, #FFF8 83%, transparent); }
	100% { background: linear-gradient(90deg, transparent, #FFF8 90%, transparent); }
}
@keyframes cylindre-tourne-cote-horizontal {
	0% { background: linear-gradient(0deg, transparent, #FFF8 20%, transparent); }
	10% { background: linear-gradient(0deg, transparent, #FFF8 27%, transparent); }
	20% { background: linear-gradient(0deg, transparent, #FFF8 34%, transparent); }
	30% { background: linear-gradient(0deg, transparent, #FFF8 41%, transparent); }
	40% { background: linear-gradient(0deg, transparent, #FFF8 48%, transparent); }
	50% { background: linear-gradient(0deg, transparent, #FFF8 55%, transparent); }
	60% { background: linear-gradient(0deg, transparent, #FFF8 62%, transparent); }
	70% { background: linear-gradient(0deg, transparent, #FFF8 69%, transparent); }
	80% { background: linear-gradient(0deg, transparent, #FFF8 76%, transparent); }
	90% { background: linear-gradient(0deg, transparent, #FFF8 83%, transparent); }
	100% { background: linear-gradient(0deg, transparent, #FFF8 90%, transparent); }
}